body{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	background-color: #f5f5dc;
	color: #696969;
	padding: 3px;

}

#main {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 0 0 5px 5px;
    height:100%;
    width:100%;
    border-color: #1a1a1a;

}

h1{
	font-family: Georgia, serif;
	border-bottom: 3px solid #cc9900;
	color: #1a1a1a;
	font-size: 30px;
}


#left, #right {
        display: inline-block;
        *display: inline;
        zoom:1;
        vertical-align: top;
        font-size:12;
        height: 100%;
        text-align: center;

}

#individual_right, #individual_left, #course_right, #course_left {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    font-size: 12;
    height: 100%;
    text-align: left;
}

#individual_left{
    width: 70%;
    height: 500px;
}
#individual_right{
    width: 20%;
    height: 500px;
}

#course_left{
    width: 70%;
    height: 500px;
}
#course_right{
    width: 20%;
    height: 500px;
}

#left {
    width:35%;
    height:500px;
    margin-right:100px;
}

#right {
    width:35%;
    height:500px;
    margin-left:100px;
}

#graphContainer, #graphContainer2, #graphContainer3{
    height:100%;
    overflow:scroll;
}

button, a{
    width:40%;
}

#layout_right{
    float:left;
}